<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wonbin.databindingdemo"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="com.liangfeizc.avatarview"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.basic.BasicActivity"
            android:label="@string/title_activity_basic_acticiy" />
        <activity
            android:name=".sample.observable.ObservableActivity"
            android:label="ObservableActivity"></activity>
        <activity
            android:name=".sample.resource.ResourceActivity"
            android:label="@string/title_activity_resource"></activity>
        <activity android:name=".sample.viewid.ViewWithIDsActivity"
            android:label="@string/sample_title_viewithids"></activity>
        <activity android:name=".sample.viewstub.ViewStubActivity"
            android:label="@string/title_activity_view_stub"/>
        <activity android:name=".sample.dynamic.DynamicActivity"
            android:label="@string/title_activity_dynamic"/>
        <activity android:name=".sample.attributesetter.AttributeSetterActivity"
            android:label="@string/title_activity_attribute_setters"/>
        <activity android:name=".sample.converts.ConversionsActivity"
            android:label="@string/title_activity_conversions"></activity>
        <activity android:name=".sample.collection.CollectionActivity"
            android:label="@string/title_activity_collection"/>
        <activity android:name=".sample.custombinding.CustomActivity"
            android:label="@string/title_activity_custom_binding"/>
        <activity android:name=".sample.include.IncludeActivity"
            android:label="@string/title_activity_include"/>

    </application>

</manifest>